<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">Chelo Ride</div>
        <div class="links">
            <a href="/adminpanel/" class="link">Cars</a>
            <a href="/adminpanel/bookings" class="link">Bookings</a>
        </div>
        <div class="links">
            <a href="" class="link">Logout</a>
        </div>
    </div>
    <div class="container">
        <div class="title">Analytics</div>
        <div class="cardsWrap">
            <div class="card">
                <p class="title" id="tcars">340</p>
                <p class="sub">Total Cars</p>
            </div>
        </div>
        <div class="title">
            <p>Cars List</p>
            <button class="add" id="add">Add Car</button>
        </div>
        <table class="tab">
            <tr class="row">
                <th class="th">Sno</th>
                <th class="th">Name</th>
                <th class="th" style="width: 200px;">Description</th>
                <th class="th">gear type</th>
                <th class="th">Fuel Capacity</th>
                <th class="th">Seating Capacity</th>
                <th class="th">Luggage Capacity</th>
                <th class="th">Mileage</th>
                <th class="th">Location</th>
                <th class="th">Booking Status</th>
                <th class="th">Price</th>
                <th class="th">Action</th>
            </tr>
        </table>
    </div>
    <div class="popup">
        <p class="title">ADD NEW CAR</p>
        <form class="inner" id="form">
            <button class="cls" type="button">Close</button>
            <input type="text" name="brand" class="inp" placeholder="Car brand">
            <input type="text" name="desc" class="inp" placeholder="Car Description">
            <input type="file" name="upload" class="inp" placeholder="upload Image">
            <input type="text" class="inp" name="gear" placeholder="Gear type">
            <input type="text" class="inp" name="fuel" placeholder="Fuel Capacity in lts">
            <input type="number" class="inp" name="seating" placeholder="Seating Capacity">
            <input type="text" class="inp" name="luggage" placeholder="Luggage Capacity">
            <input type="text" class="inp" name="mileage" placeholder="Mileage">
            <input type="text" class="inp" name="location" placeholder="Location">
            <input type="text" class="inp" name="price" placeholder="Amount">
            <button class="sbt" id="sbt">Submit</button>
        </form>
    </div>

    <script>
        const form = document.getElementById("form");
        const btn = document.getElementById("sbt");
        const add = document.getElementById("add");
        const close = document.getElementsByClassName("cls")[0];
        const popup = document.getElementsByClassName("popup")[0];
        const table = document.getElementsByClassName("tab")[0];

        fetch("/admin/allCarsAdmin", {
            headers: {
                "token": localStorage.getItem("token")
            }
        }).then(res => res.json().then(data => {
            if(res.status === 403){
                window.location.href = data.msg;
            }
            document.getElementById("tcars").textContent = data.cars.length;
            data?.cars.forEach((car, i) => {
                const row = document.createElement("tr");
                row.classList.add("row");
                let elem = `<td class="td">${i+1}</td>
                                <td class="td">${car.brand}</td>
                                <td class="td">${car.desc}</td>
                                <td class="td">${car.geartype}</td>
                                <td class="td">${car.fuelcap}</td>
                                <td class="td">${car.seating}</td>
                                <td class="td">${car.luggage}</td>
                                <td class="td">${car.mileage}</td>
                                <td class="td">${car.location}</td>
                                <td class="td">${car.carStatus ? "booked": "Not Booked"}</td>
                                <td class="td">${car.amount}</td>
                                <td class="td">
                                    <button class="del ${car._id}" onclick="deleteHandler(${i})">Delete</button>
                                </td>`;
                row.innerHTML = elem;
                table.appendChild(row);
            })
        })).catch(e => {
            console.log(e)
        })

        function fileCatch(img) {
                const file = img["files"][0];
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = reject;
                });
            }

        btn.addEventListener("click", async(e) => {
            e.preventDefault();
            const brand = form["brand"].value;
            const desc = form["desc"].value;
            const upload = form["upload"];
            const gear = form["gear"].value;
            const fuel = form["fuel"].value;
            const luggage = form["luggage"].value;
            const seating = form["seating"].value;
            const mileage = form["mileage"].value;
            const amount = form["price"].value;
            const location = form["location"].value;
            let data = {
                brand, desc, image: await fileCatch(upload), gear, fuel, location, luggage, mileage, seating, amount
            }
            await fetch('/admin/uploadCar', {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then((res) => {
                if(res.status == 200){
                    window.location.href = "/adminpanel/"
                }
            });
            
        })

        add.addEventListener("click", () => {
            popup.style.display = "flex";
        })
        close.addEventListener("click", () => {
            popup.style.display = "none";
        })

        const deleteHandler = (i) => {
            const id = document.getElementsByClassName("del")[i].classList[1];
            fetch(`/admin/delete/${id}`, {
                method: "delete"
            }).then(res => res.json().then(data => {
                window.location.href = "/adminpanel"
            }))
        }
    </script>
</body>
</html>