<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/booking.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <h2 class="title">Payment Method</h2>
        <h5 class="sub">Confirm your booking by paying your booking amount.</h5>
        <div class="details">
            <div class="gt">
                <div class="cnt1">
                    <h2 class="stit">Grand Total</h2>
                    <p class="amt" id="price">/-</p>
                </div>
                <a href="" id="link" style="text-decoration: none;" class="btn">pay using upi</a>
            </div>
        </div>
    </div>
    <script>
        const id = document.getElementById("price");
        const link = document.getElementById("link");
        fetch("/booking/payment", {
            method: 'POST',
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'token':window.localStorage.getItem("token")
            },
        }).then(res => res.json().then(data => {
            id.textContent = data?.price+"/-";
            const uri = `upi://pay?pa=8688718549@paytm&pn=%20&tr=%20&am=${parseInt(data.price)}&cu=INR`;
            link.setAttribute("href", uri)
        }))
    </script>
</body>
</html>