<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">

    <title>Chelo Ride</title>
</head>
<body>
    <div class="container">
        <%- include('./navbar.ejs') %>
        <div class="formContainer">
            <h2 class="title">Chelo <span style="color: yellowgreen;">Ride</span></h2>
            <h4 class="sub">Explore limitless possibilities with our comprehensive car rental services! From compact cars to spacious SUVs, we offer a diverse fleet for your every need. Book car by selecting time and date below</h4>
            <div class="opacityMask"></div>
            <form action="/cars" method="post" class="form">
                <div style="display: flex; gap: 20px;">
                    <div class="wrap">
                        <label for="" class="lab">Location</label>
                        <input type="text" name="location" id="location" placeholder="Select location">
                        <div class="menu">
                            <% if(locations != null || locations.length > 0){ %>
                                <% locations.forEach(function(loc, i, entries){ %>
                                    <div class="lelm"><%= loc %></div>
                                <% }) %>
                            <% }) %>
                        </div>
                    </div>
                    <div class="wrap">
                        <label for="" class="lab">Pickup Date</label>
                        <input type="date" name="date" id="pdate"/>
                    </div>
                    <div class="wrap">
                        <label for="" class="lab">Pickup Time</label>
                        <input type="time" name="time" id="" min="09:00 am" max="22:00" placeholder="10:10 am">
                    </div>
                    <div class="wrap">
                        <label for="" class="lab">Drop Date</label>
                        <input type="date" name="ddate" id="ddate">
                    </div>
                </div>
                <button type="submit" class="subt" style="display: none;"></button>
            </form>
            <button onclick="subHandler()" class="sbt">Book Now</button>
        </div>
        <div class="icons">
            <div class="wrap">
                <h3 class="wtitle">25,000+ Happy Customers</h3>
                <h6 class="wsub">Our dedicated team is proud to have served over 25,000 happy customers, providing top-notch service and satisfaction.</h6>
            </div>
            <div class="wrap">
                <h3 class="wtitle">150+ Cars</h3>
                <h6 class="wsub">With a fleet of over 150 cars, we offer a diverse range to meet your transportation needs, ensuring comfort and style.</h6>
            </div>
            <div class="wrap">
                <h3 class="wtitle">10+ Years Experience</h3>
                <h6 class="wsub">Bringing more than a decade of experience, we take pride in our expertise, providing reliable services since our establishment.</h6>
            </div>
            <div class="wrap">
                <h3 class="wtitle">300+ Drivers</h3>
                <h6 class="wsub">Our team comprises over 300 skilled and licensed drivers, ensuring your safety and a smooth journey every time.</h6>
            </div>
        </div>
        <div class="section">
            <h3 class="stitle">About Our Service</h3>
            <div class="flx">
                <img src="../static/assets/5.jpg" alt="" class="img">
                <ul class="wrap">
                    <li class="lst">
                        <span style="font-weight: 600; color: yellowgreen;">Trailblazing Transportation:</span> Since 2008, Chelo Ride Rentals has led Vizag's transportation scene from Candolim, near the famous Vizag beach.
                    </li>
                    <li class="lst">
                        <span style="font-weight: 600; color: yellowgreen;">Memorable Journeys:</span> Beyond rides, we offer an unforgettable experience with top-notch service, making us the trusted choice for reliable and comfortable travel.
                    </li>
                    <li class="lst">
                        <span style="font-weight: 600; color: yellowgreen;">Your Convenient Choice:</span> Whether you're a tourist exploring Vizag or a local resident, count on Chelo Ride Rentals for hassle-free and safe transportation. Experience excellence with us!
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        const btn = document.getElementsByClassName("subt")[0];
        const form = document.getElementsByClassName("form")[0];
        const list = document.querySelectorAll(".lelm");
        const loc = document.getElementById("location");
        const pdate = document.getElementById("pdate");
        const ddate = document.getElementById("ddate");
        const subHandler = () => {
                if(token != null){
                    btn.click()
                }else{
                    window.location.href = "/auth/login"
                }
        }
        list?.forEach((l) => {
            l.onclick = () => {
                loc.value = l.textContent;
            }
        });

        pdate.min = new Date().toISOString().split("T")[0];
        ddate.onfocus = () => {
            let dates = pdate.value.split("-");
            let nextDate = parseInt(dates[2])+1;
            dates.pop(2); dates.push(nextDate)
            
            ddate.min = dates.join("-");
        }
        
    </script>
</body>
</html>
