@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Pixelify+Sans&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap');

@font-face {
    font-family: "integral";
    src: url("../fonts/integral.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    background: rgb(11, 11, 11);
    padding: 30px;
    overflow-x: hidden;
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .title {
    margin-bottom: 5px;
    font-size: 30px;
    margin-top: 20px;
    font-family: "Integral";
    color: white;
}

.container .sub {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 300;
    color: rgb(176, 176, 176);
}